  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&family=Roboto:ital,wght@0,300;0,400;1,300;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
}

:root {
    --color-primary: #ED4D1B;
    --color-secondary: #FF9A3C;
    --color-black: #000;
    --color-white: #fff;
}

body {
    background: linear-gradient(90deg, #ffE7D1 0%, #FFF2E6 100%);
    padding: 0 1rem;
}

header,
.hero-section,
.courses-section,
footer {
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

header img {
    display: block;
    margin: 1rem auto;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav a {
   color: var(--color-black); 
   font-size: 1.25rem;
   padding: .5rem;
   text-decoration: none;
}

header nav a:nth-child(2n-1) {
    text-align: right;
}

.btn {
    background-color: var(--color-primary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

.hero-section {
    padding-right: 0;
    padding-bottom: 16rem;
}

.hero-section img {
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    line-height: 105%;
}

h2 {
    font-size: 2.5rem;
}

.hero-section p {
    font-size: 1.25rem;
    padding-right: 1.25rem;
}

.hero-section .btn {
    position: relative;
}

.hero-section .btn::after {
    content: '';
    background: url("./assets/arrow-curve.svg");
    position: absolute;
    top: 5rem;
    right: -4rem;
    height: 48px;
    width: 132px;
}

.decoration {
    display: block;
    position: relative;
}

.decoration::after { 
    content: '';
    background: url("./assets/three-dashes.svg");
    position: absolute;
    top: -0.75rem;
    height: 36px;
    width: 40px;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--color-primary);
}

.text-center{
    text-align: center;
}